@import "variables";

@keyframes scaling {
    0% {
        transform: translateY(360px) scale(0);
    }
    100% {
        transform: translateY(0px) scale(1);
    }
}

.slider-wrapper {
    width: 100%;
    height: 380px;
    border-top: 2px solid @MAIN_COLOR;
    .slider {

        &__img {
            max-width: 600px;
            height: 360px;
            overflow: visible;
        }

        .slick-current.slick-active {
            display: flex;

            .past-events__item {
                display: block;
                width: 400px;
                animation: scaling 1.5s linear;
            }
        }
    }
}

.past-events__header {
    font-family: PlayfairDisplay, "Times New Roman", serif;
    color: #062538;
    font-size: 22px;
    font-weight: 200;
}

.past-events__description {
    text-overflow: ellipsis;
    font-family: Roboto, Arial, sans-serif;
    color: #b89766;
    font-size: 16px;
    font-weight: 100;
    text-align: justify;
    overflow: hidden;
    line-height: 25px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    word-wrap: normal;
}

.slider__item .past-events__item {
    width: 280px;
    display: none;
    padding: 30px;
}

.slick-center {
    position: relative;
}

.slick-center .slick-prev, .slick-center .slick-next {
    position: absolute;
    z-index: 100;
    right: 0;
    background-color: @MAIN_COLOR;
    width: 60px;
    height: 60px;
    top: 330px;
}

.slick-center .slick-next {
    right: 540px;
    &:before {
        content: '';
        background: url(../images/arrow.png) 0 0 no-repeat;
        width: 60px;
        height: 60px;
        position: absolute;
        transform: rotate(90deg);
        top: -10px;
    }
    &:hover:before {
        background: url(../images/arrow.png) -78px 0 no-repeat;
    }
}

.slick-center .slick-prev {
    left: 390px;
    &:before {
        content: '';
        background: url(../images/arrow.png) 0 0 no-repeat;
        width: 60px;
        height: 60px;
        position: absolute;
        transform: rotate(-90deg);
        top: 10px;
    }
    &:hover:before {
        background: url(../images/arrow.png) -78px 0 no-repeat;
    }
}

.calendar-wrapper {
    display:flex;
    justify-content: center;
    margin-bottom: 20px;
    .calendar {
        padding: 40px 0;
        width:500px;
        .slick-dots {
            bottom:auto;
            width:auto;
        }
    }

    .announcement__calendar {
        bottom:auto;
        text-align: end;
        margin-top:30px;

    }
}



.slick-dots li button:before {
    display:none;
}

.calendar .slick-dots li,  .calendar .slick-dots li button {
        color: @MAIN_COLOR;
        border: 0;
        display: inline-block;
        height: 30px;
        width: 30px;
        outline: none;
        line-height: 20px;
        font-size: 20px;
        padding: 5px;
        cursor: pointer;
}

.calendar .slick-dots li {
    text-transform: uppercase;
    font-family: Roboto, Arial, sans-serif;
}

.calendar .slick-dots .slick-active button {
    background-color: @MAIN_COLOR;
    border-radius: 50%;
    color: @WHITE_COLOR;
}


.past-events {

    .past-events__filter {
        display:none;
    }

    .aside-filter {
        flex:0 0 27%;
        font-family: PlayfairDisplay, "Times New Roman", serif;

        .input-group, .filter-title {
            border-bottom: 1px solid @MAIN_COLOR;
            padding:10px 0 ;
            color:@BLACK_COLOR;
        }

        .filter-title {
            padding-left:30px;
        }

        .input-group {
            cursor: pointer;
            position: relative;
            font-size: 14px;
            font-family: Roboto, Arial, sans-serif;
            display:flex;

            &:first-of-type {
                .label {
                    color:@BLACK_COLOR;
                }
            }

            .label {
                color:@MAIN_COLOR;
                margin-left:10px;
            }

            .checkbox {
                display: none;
            }

            .checkbox-custom {
                position: relative;
                width: 20px;
                height: 20px;
                border: 1px solid @MAIN_COLOR;
                border-radius: 3px;
                background-color: #ffffff;
            }

            .checkbox-custom,
            .label {
                display: inline-block;
                vertical-align: middle;
                border-radius: 2px;

            }

            .checkbox:checked + .checkbox-custom::before {
                content: "";
                display: block;
                position: absolute;
                font-size: 10px;
                line-height: 10px;
                top: 3px;
                right: 3px;
                bottom: 3px;
                left: 3px;
                border-radius: 2px;
                background: @MAIN_COLOR;
                opacity: 0.5;

            }
        }


    }
}

@media screen and  (min-width: 768px) and ( max-width: 1023px) {

    .slider__item .past-events__item {
        padding-left:120px;
    }

    .slick-prev.slick-arrow {
        left:480px;
    }

    .past-events {

        &__filter {
            display: inline-block;
        }
    }

}






